<table>
    <thead>
        <tr>
            <td> Sunday </td>
            <td> Monday </td>
            <td> Tuesday </td>
            <td> Wednesday </td>
            <td> Thursday </td>
            <td> Friday </td>
            <td> Saturday </td>
        </tr>
    </thead>
    <tbody>
        {{#each weeks as |week|}}
            <tr>
                {{#each week as |day|}}
                    {{calendar-cell day=day mark=(action 'markDay')}}
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>